In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [2]:
nba_players_df = pd.read_csv("all_seasons.csv")
nba_players_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,7.6,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,10.8,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,12.1,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.1,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,4.0,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22

In [3]:
nba_players_df.nunique

<bound method DataFrame.nunique of        Unnamed: 0        player_name team_abbreviation   age  player_height  \
0               0      Dennis Rodman               CHI  36.0         198.12
1               1  Dwayne Schintzius               LAC  28.0         215.90
2               2       Earl Cureton               TOR  39.0         205.74
3               3        Ed O'Bannon               DAL  24.0         203.20
4               4        Ed Pinckney               MIA  34.0         205.74
...           ...                ...               ...   ...            ...
12300       12300    Markieff Morris               MIA  32.0         205.74
12301       12301     Markelle Fultz               ORL  24.0         193.04
12302       12302       Marcus Smart               BOS  28.0         193.04
12303       12303     Marcus Garrett               MIA  23.0         195.58
12304       12304       Micah Potter               DET  24.0         208.28

       player_weight                      college country draft_year  \
0          99.790240  Southeastern Oklahoma State     USA       1986
1         117.933920                      Florida     USA       1990
2          95.254320                Detroit Mercy     USA       1979
3         100.697424                         UCLA     USA       1995
4         108.862080                    Villanova     USA       1985
...              ...                          ...     ...        ...
12300     111.130040                       Kansas     USA       2011
12301      94.800728                   Washington     USA       2017
12302      99.790240               Oklahoma State     USA       2014
12303      92.986360                       Kansas     USA  Undrafted
12304     112.490816                    Wisconsin     USA  Undrafted

      draft_round  ...   pts   reb  ast  net_rating  oreb_pct  dreb_pct  \
0               2  ...   5.7  16.1  3.1        16.1     0.186     0.323
1               1  ...   2.3   1.5  0.3        12.3     0.078     0.151
2               3  ...   0.8   1.0  0.4        -2.1     0.105     0.102
3               1  ...   3.7   2.3  0.6        -8.7     0.060     0.149
4               1  ...   2.4   2.4  0.2       -11.2     0.109     0.179
...           ...  ...   ...   ...  ...         ...       ...       ...
12300           1  ...   7.6   2.6  1.4         4.5     0.059     0.089
12301           1  ...  10.8   2.7  5.5        -5.3     0.010     0.116
12302           1  ...  12.1   3.8  5.9         9.3     0.018     0.093
12303   Undrafted  ...   1.1   1.9  0.6         5.8     0.072     0.108
12304   Undrafted  ...   4.0   3.0  0.0       -56.4     0.095     0.125

       usg_pct  ts_pct  ast_pct   season
0        0.100   0.479    0.113  1996-97
1        0.175   0.430    0.048  1996-97
2        0.103   0.376    0.148  1996-97
3        0.167   0.399    0.077  1996-97
4        0.127   0.611    0.040  1996-97
...        ...     ...      ...      ...
12300    0.197   0.547    0.116  2021-22
12301    0.265   0.517    0.448  2021-22
12302    0.179   0.540    0.245  2021-22
12303    0.086   0.280    0.069  2021-22
12304    0.148   0.505    0.000  2021-22

[12305 rows x 22 columns]>

In [4]:
nba_players_df["player_name"].unique()

array(['Dennis Rodman', 'Dwayne Schintzius', 'Earl Cureton', ...,
       'Marko Simonovic', 'Marcus Garrett', 'Micah Potter'], dtype=object)

In [5]:
players_nm_df = nba_players_df ['player_name'].value_counts()
players_nm_df

Vince Carter        22
Dirk Nowitzki       21
Kevin Garnett       20
Jamal Crawford      20
Kobe Bryant         20
                    ..
JaJuan Johnson       1
Carldell Johnson     1
Derrick Byars        1
Eric Dawson          1
Micah Potter         1
Name: player_name, Length: 2463, dtype: int64

In [6]:
players_nm_df = players_nm_df[:13]
players_nm_df

Vince Carter       22
Dirk Nowitzki      21
Kevin Garnett      20
Jamal Crawford     20
Kobe Bryant        20
Jason Terry        19
Paul Pierce        19
LeBron James       19
Tim Duncan         19
Tyson Chandler     19
Carmelo Anthony    19
Udonis Haslem      19
Trevor Ariza       18
Name: player_name, dtype: int64

In [8]:
long_players = pd.DataFrame(players_nm_df)
long_players.index.name = 'Players'
long_players

                 player_name
Players
Vince Carter              22
Dirk Nowitzki             21
Kevin Garnett             20
Jamal Crawford            20
Kobe Bryant               20
Jason Terry               19
Paul Pierce               19
LeBron James              19
Tim Duncan                19
Tyson Chandler            19
Carmelo Anthony           19
Udonis Haslem             19
Trevor Ariza              18